* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          margin:0;
          padding: 0;
}
body{
  background-color: rgb(236,238,241);
  display: flex;
  flex-direction:column;
}

header {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 50px;
}

header p:nth-child(2){
  margin-bottom: 20px;
}
fieldset{
  background-color: white;
  display:block;
  width:420px ;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.3);
  height: 70vh;
}

label, textarea{
  display: block;
  margin: 0 auto;
  width: 85%;
  padding-bottom: 10px;
  color:rgba(0, 0, 0, 0.7);
}
input {
  display:block;
  margin: 0 auto;
  width: 85%;
  padding-bottom: 10px;
  color:rgba(0, 0, 0, 0.7);
}
#checkbox{
  display: flex;
}

select{
  display: block;
  margin: 0 auto;
  width: 85%;
  color:rgba(0, 0, 0, 0.7);

}

input{
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding-top: 8px;
  border-radius: 3px;
  text-align: 0px auto;
  font-size: 16px;
}

input:last-child{
  margin-bottom: 30px;

}

::placeholder{
  color: rgb(168, 162, 162);
  text-align: right;
  font-size: 15px;
}

button{
  display:block;
  padding: 12px 0px 12px 0px;
  background-color:rgb(0,119,197);
  color: white;
  margin: 0 auto;
  width: 85%;
  border: none;
  font-size: 16px;
}

.copyright ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  margin: 10px 60px 0 60px;
  align-items: center;
}

.copyright ul a {
  color: black;
  opacity: 0.8;
  font-size: 14px;
  text-decoration: none;
  
}

#username, p{
  margin-top: 10px;
 
}
 p{
  margin-top: 10px;
  margin-bottom: 10px;
}