* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* body {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

a{
  text-decoration: none;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
nav ul a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}
nav ul li:nth-child(4) {
  margin: 0px auto;
}

nav ul li:nth-child(2) {
  padding: 0px 20px 0px 20px;
}

button {
  font-weight: 700;
  background-color: rgb(86, 123, 149);
  border: none;
  color: white;
  padding: 7px 16px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 3px;
  margin-left: 10px;
}

.container {
  width: 900px;
  margin: 0px auto;
}

.section1 {
  justify-content: center;
  align-items: center;
  width: 900px;
}

.section1 h1 {
  font-size: 40px;
  font-family: "Sansita Swashed", cursive;
  padding: 40px;
}

.section1 p {
  text-align: center;
  color: gray;
  padding-top: 10px;
}

.section2 {
  height: 600px;
  width: 600px;
 margin: 0px auto;
  padding-top: 60px;
}

.section2 a {
  font-weight: 700;
  color: black;
  font-size: 18px;
}

.section2 .article-nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.article-nav ul li {
  padding-left:10px;
}
.article-nav ul li:first-child {
  flex:1;
}
.section2 .article-nav ul a {
  text-decoration: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: gray;
}

.section2 .article-nav ul a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.aside-content {
    display: flex;
    width: 220px;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
  }

  .aside-content p {
    padding-left: 10px;
  }
  aside {
    float: right;
    padding: 10px;
  }
